*{
  font-family: Circe;
  margin: 0;
}
.nav-bar{
  display: flex;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  background-color: hsla(0, 0%, 100%, .6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 3rem;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, .08235294117647059);
  z-index: 1000;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .08235294117647059);
}

.navicons {
  position: fixed;
  width: 2.5vw;
  top: 65vh;
  left: 1vw;
  z-index: 3;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;

}
.navicons img {
  margin-bottom: 0.5vw;
  width: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 50%;
  cursor: pointer;
}

.logo{
  flex: 0.98;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5rem;
}

.logo img{
  width: 2.5rem;
  transition: all 0.2s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.link {
  opacity: 80%;
  height: 1.25rem;
  width: 1.25rem;
  transition: all 0.2s ease-in-out;
  z-index: 4;
  /*box-shadow: 10px 10px 10px #00000030;*/
}
.link:hover {
  opacity: 100%;
  transform: scale(1.15);
  transform: translate(0, -5px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.link-image{
  width: 100%;
}

/*hero*/
.hero{
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info{
  width: 50%;
  max-width: 20rem;
  min-width: 50rem;
  margin-top: -12rem;
  margin-left: -10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #2a2a2a;
}

h1{
  font-size: 6rem;
  padding: 0;
  margin: 0;
  line-height: 5rem;
  text-align: left;
  color: #363636;
}

.blink{
  opacity: 0.6;
  margin: 0;
  padding: 0;
  margin-bottom: -1.25rem;
  height: 2.5rem;
  width: 4rem;
}

.name-grey{
  color: #c7c7c7;
  font-weight: lighter;
}

.titles > *{
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  display: flex;
  height: 2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  align-items: center;
  padding: 0;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.titles img{
  width: 1.75rem;
}
.main-green{
 color: #3fb66c;
}

.info-paragraph{
  margin-top: 0.5rem;
  line-height: 1.5;
  padding: 0;
  color:#868181;
  font-size: 1.25rem;
  font-weight: lighter;
}

.sectiontitle hr{
  display: inline-block;
  width: 35vw;
  opacity: 30%;
}
.sectiontitle{
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
  text-align: center;

}
.sectiontitle h2{
  display: inline-block;
  line-height: 0%;
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.sectiontitle img{
  display: inline-block;
  margin-right: 1vw;
  width: 1.5vw;
}

/* hero art work*/
.mahad-1{
  position: absolute;
  height: 40rem;
  left: 65%;
  bottom: 20%;
}